table {
	border-collapse: collapse;
	margin: 5px;
}

caption {
	font-size: 16pt
}

th, td {
	border: 1px solid Gray;
	padding: 5px;
}

th {
	text-align: right;
	width: 150px;
	color: white;
	background-color: mediumorchid;
}

td {
	background-color: White;
	min-width: 250px;
}

input, textarea, select {
	width: 250px;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	width: 20px;
}
